
/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;1,400&family=Roboto:wght@300&display=swap');*/

body
{
    height: 100vh;
    width: 100%;
    /*background-color: wheat;
    background-image: url(g);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
nav ul
{
    display: flex;
    align-items: center;
    list-style: none;
    height:62px;
    background-color:black;
    color: white;
    
}
nav ul li{
    padding: 0px 10px;
}
.log img{
    width: 55px;
    padding: 6px;
   
    
}
.log{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:  1.5rem;
}
.container{
   min-height: 72vh;
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 20px auto;
    width: 60%;
    border-radius: 12px;
    background-image: url(guitar2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.container h2{
    margin: 10px 20px;
    color: black;
}
.bottom{
   position: sticky;
    height: 100px ;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
    

}
#progressbar{
    width: 70vw;
    cursor: pointer;
    
    
}
.icons{
    margin-top: 10px ;
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 40px;
}
.songitem{
    height: 40px;
    display: flex;
    background-color: white;
    width:150% ;
    color: black;
    margin: 12px 12px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    border-style:groove;
}
.songitem img{
    width: 34px;
    margin:0 20px ;
    border-radius: 100px;
}
.timestamp{

    margin: 0 20px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 15vw;
    font-size: 14px;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
} 